<div class="user-form-container">
  <p class="user-form-title">User Form (TDF)</p>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="inputContainer">
      <label for="name">Name: </label>
      <input
        class="inputField"
        type="text"
        name="name"
        id="name"
        placeholder="Your Name"
        ngModel
        #name="ngModel"
        required
      />
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
        <div *ngIf="name.errors?.['required']">Name is required.</div>
      </div>
    </div>
    <div class="inputContainer">
      <label for="email">Email: </label>
      <input
        class="inputField"
        type="email"
        name="email"
        id="email"
        placeholder="Your Email"
        ngModel
        #email="ngModel"
        required
      />
      <div
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="alert"
      >
        <div *ngIf="email.errors?.['required']">Email is required.</div>
      </div>
    </div>
    <div class="inputContainer">
      <label for="phone">Phone: </label>
      <input
        class="inputField"
        type="number"
        name="phone"
        id="phone"
        placeholder="Your Phone Number"
        ngModel
        #phone="ngModel"
        required
      />
      <div
        *ngIf="phone.invalid && (phone.dirty || phone.touched)"
        class="alert"
      >
        <div *ngIf="phone.errors?.['required']">Phone is required.</div>
      </div>
    </div>
    <div class="inputContainer">
      <label for="Address">Address: </label>
      <textarea
        class="inputField"
        type="text"
        name="address"
        id="address"
        placeholder="Your Address"
        ngModel
        #address="ngModel"
        required
      ></textarea>
      <div
        *ngIf="address.invalid && (address.dirty || address.touched)"
        class="alert"
      >
        <div *ngIf="address.errors?.['required']">address is required.</div>
      </div>
    </div>

    <div style="display: flex; justify-content: end">
      <button class="primary-button" type="submit" [disabled]="!form.valid">
        Submit
      </button>
    </div>
  </form>
</div>
